# npm
node_modules/
package-lock.json

# macOS
.DS_Store

# Obsidian
.obsidian/workspace.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.obsidian/plugins/*/data.json

# IDE
.idea/
.vscode/

# Build
dist/
build/

# Logs
*.log 